language: node_js

matrix:
  include:
  - node_js: "lts/dubnium"
    addons:
      postgresql: "10"
      apt:
        packages:
        - postgresql-10
        - postgresql-client-10
    env:
      - PGHOST=localhost
      - PGUSER=postgres
